<div>
    <label>Group Account: <%=@group.name%></label><br><br>
    <%@group.users.each do |user|%>
        <%=user.name%><br>
    <%end%>
</div>
<br>
<div>   
    <%=link_to "Edit", edit_group_path(@group)%>
    <%= link_to 'Delete', group_path(@group), method: :delete, data: { confirm: 'Are you sure?' } %>
</div>