/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    background-color:lightslategray;
 }
 
 .layout_wrapper {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
    "t t t t t t t t t t"
    "e e e e e e e e e e"
    "y y y y y y y y y y"
    "y y y y y y y y y y"
    "y y y y y y y y y y"
    "y y y y y y y y y y";

}

.layout_wrapper > div {
    
}

.layout_title {
    justify-self: center;
    grid-area: t;
}

.layout_errors {
    justify-self: center;
    grid-area: e;
}

.layout_yield {
    grid-area: y;
}

.user_new_wrapper {
    display: grid;
    background-color: lightseagreen;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: 
    "t t t t t t t t t t"
    "f f f f f f f f f f"
    "f f f f f f f f f f";
}

.user_new_wrapper > div {
    justify-self: center;
}

.user_new_title {
    grid-area: t;
}

.user_new_form {
    grid-area: f;
}